$base-font: "proxima-nova";
$heading-font: "proxima-nova";
$dark-gray: #58595B;
$dark-green: #2D7F5B;
$darkest-green: #2C4846;
$pink: #D67B71;

html {
	--base-font: "proxima-nova";
	--heading-font: "proxima-nova";
	--dark-gray: #58595B;
	--dark-green: #2D7F5B;
	--darkest-green: #2C4846;
	--pink: #D67B71;
	--blue: #3C6F7D;
}