@import 'normalize.css';
@import './variables.scss';

html {
    padding: 0;
    background: #214037;
}
body {
    font-family: $base-font;
    padding: 0;
    margin: 0;
}
h2 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.25
}
html {
    @media( min-width: 500px ){
        
        font-size: 1.2rem;
    }
    @media( min-width: 800px ){
        font-size: 1.4rem;
    }
}